.item_name {
    color: #E87A5B;
    margin-top: 5px;
    margin-bottom: 10px;
}
.item_img {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px 0px;
}
.item_price {
    color: #E87A5B;
    font-size: 35px;
    margin-bottom: 5px;
}
.cart_button{
    background-color: #1E9AA8;
    color: #fff;
    border-radius: 5px;
    transition:0.5s;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 5px;
}
.cart_button:hover{
    background-color: #198692;
    color: #ddd;
}
.cart_button:focus{
    outline: 0 !important;
    box-shadow: none !important;
}
input{
    border: 1px solid #198692 !important;
    box-shadow: none !important;
    outline: none !important;
}
input:focus{
    box-shadow: none !important;
    outline: none !important;
}
.ant-select-selector{
    border: 1px solid #198692 !important;
    box-shadow: none !important;
    outline: none !important;
}
.ant-modal-close::before {
    position: absolute;
    content: "";
    background-color: #198692;
    width: 25px;
    height: 25px;
    top: 19px;
    left: 15px;
    border-radius: 2px;
    z-index: -1;
}
.ant-modal-close{
    color: #fff;
}
.ant-modal-close:hover{
    color: #fff;
}
.ant-modal-content{
    border: 15px solid #10555C;
    border-radius: 10px;
}
